{% extends "base.html" %}
{% block title %}View Participants{% endblock title %}

{% block style %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='participants.css') }}">
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="participants-container">
            <h3>View Participants</h3>
            <div class="event-info">
                <h4>{{ eventInfo.event_name }}</h4>
                <small>In <b>{{ eventInfo.event_location }}</b> on <b>{{ eventInfo.event_date }}</b></small><br>
                <small><i><b>{{ eventInfo.event_type }}</b></i></small>
            </div>
            <div class="participants">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in eventInfo.participant %}
                        <tr>
                            <td style="text-align: center;" width="200"><a href="/remove/{{ eventInfo.id }}/{{ participant.id }}">remove participant</a></td>
                            <td>{{ participant.username }}</td>
                            <td>{{ participant.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}