{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block signin_active %}active-nav{% endblock signin_active %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login-register-form.css') }}">
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="form">
            <img src="{{url_for('static', filename='logo.jpg')}}" height="auto" width="100px">
            <h3>Sign In</h3>
            <form action="/signin" method="post">
                <input name="email" type="text" placeholder="Email Address / Username" required>
                <input name="password" type="password" placeholder="Password" required>
                <input type="submit" value="Sign In">
            </form>
        </div>
    </div>
{% endblock content %}