{% extends "base.html" %}
{% block title %}Manage Event{% endblock title %}
{% block manage_event_active %}active-nav{% endblock manage_event_active %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='manage_event.css') }}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="event_manager">
        <div class="event_creator">
            <h3>Create an Event</h3>
            <form action="/manage_event" method="POST">
                <input name="event_name" placeholder="Event Name" required>
                <input name="event_location" placeholder="Event Location">
                <select name="event_type">
                    {% for et in event_types %}
                        <option value="{{ et }}">{{ et }}</option>
                    {% endfor %}
                </select>
                <input type="date" name="event_date">
                <input type="submit" value="Create Event">
            </form>
        </div>
        <div class="event_container">
            <h3>Manage Events</h3>
            <table class="table">
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Type</th>
                    <th>Event Date</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td><a href="/delete_event/{{ event.id }}">delete</a></td>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_location }}</td>
                            <td>{{ event.event_type }}</td>
                            <td>{{ event.event_date.strftime('%d-%m-%Y') }}</td>
                            <td><a href="/view_participants/{{ event.id }}">participants</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}